
Game/build-SpartanGame-Desktop_Qt_5_12_6_MinGW_32_bit-Debug/.qmake.stash
Game/build-SpartanGame-Desktop_Qt_5_12_6_MinGW_32_bit-Debug/debug/instrucciones.o
Game/build-SpartanGame-Desktop_Qt_5_12_6_MinGW_32_bit-Debug/debug/main.o
Game/build-SpartanGame-Desktop_Qt_5_12_6_MinGW_32_bit-Debug/debug/mainwindow.o
Game/build-SpartanGame-Desktop_Qt_5_12_6_MinGW_32_bit-Debug/debug/moc_instrucciones.cpp
Game/build-SpartanGame-Desktop_Qt_5_12_6_MinGW_32_bit-Debug/debug/moc_instrucciones.o
Game/build-SpartanGame-Desktop_Qt_5_12_6_MinGW_32_bit-Debug/debug/moc_mainwindow.cpp
Game/build-SpartanGame-Desktop_Qt_5_12_6_MinGW_32_bit-Debug/debug/moc_mainwindow.o
Game/build-SpartanGame-Desktop_Qt_5_12_6_MinGW_32_bit-Debug/debug/moc_mregistro.cpp
Game/build-SpartanGame-Desktop_Qt_5_12_6_MinGW_32_bit-Debug/debug/moc_mregistro.o
Game/build-SpartanGame-Desktop_Qt_5_12_6_MinGW_32_bit-Debug/debug/moc_multiplayer.cpp
Game/build-SpartanGame-Desktop_Qt_5_12_6_MinGW_32_bit-Debug/debug/moc_multiplayer.o
Game/build-SpartanGame-Desktop_Qt_5_12_6_MinGW_32_bit-Debug/debug/moc_predefs.h
Game/build-SpartanGame-Desktop_Qt_5_12_6_MinGW_32_bit-Debug/debug/moc_scargar.o
Game/build-SpartanGame-Desktop_Qt_5_12_6_MinGW_32_bit-Debug/debug/moc_scargar.cpp
Game/build-SpartanGame-Desktop_Qt_5_12_6_MinGW_32_bit-Debug/debug/moc_solitario.cpp
Game/build-SpartanGame-Desktop_Qt_5_12_6_MinGW_32_bit-Debug/debug/moc_solitario.o
Game/build-SpartanGame-Desktop_Qt_5_12_6_MinGW_32_bit-Debug/debug/moc_sregistro.cpp
Game/build-SpartanGame-Desktop_Qt_5_12_6_MinGW_32_bit-Debug/debug/moc_sregistro.o
Game/build-SpartanGame-Desktop_Qt_5_12_6_MinGW_32_bit-Debug/debug/mregistro.o
Game/build-SpartanGame-Desktop_Qt_5_12_6_MinGW_32_bit-Debug/debug/multiplayer.o
Game/build-SpartanGame-Desktop_Qt_5_12_6_MinGW_32_bit-Debug/debug/qrc_music.cpp
Game/build-SpartanGame-Desktop_Qt_5_12_6_MinGW_32_bit-Debug/debug/qrc_music.o
Game/build-SpartanGame-Desktop_Qt_5_12_6_MinGW_32_bit-Debug/debug/qrc_pics.cpp
Game/build-SpartanGame-Desktop_Qt_5_12_6_MinGW_32_bit-Debug/debug/qrc_pics.o
Game/build-SpartanGame-Desktop_Qt_5_12_6_MinGW_32_bit-Debug/debug/scargar.o
Game/build-SpartanGame-Desktop_Qt_5_12_6_MinGW_32_bit-Debug/debug/solitario.o
Game/build-SpartanGame-Desktop_Qt_5_12_6_MinGW_32_bit-Debug/debug/SpartanGame.exe
Game/build-SpartanGame-Desktop_Qt_5_12_6_MinGW_32_bit-Debug/debug/sregistro.o
Game/build-SpartanGame-Desktop_Qt_5_12_6_MinGW_32_bit-Debug/Makefile
Game/build-SpartanGame-Desktop_Qt_5_12_6_MinGW_32_bit-Debug/Makefile.Debug
Game/build-SpartanGame-Desktop_Qt_5_12_6_MinGW_32_bit-Debug/Makefile.Release
Game/build-SpartanGame-Desktop_Qt_5_12_6_MinGW_32_bit-Debug/object_script.SpartanGame.Debug
Game/build-SpartanGame-Desktop_Qt_5_12_6_MinGW_32_bit-Debug/object_script.SpartanGame.Release
Game/build-SpartanGame-Desktop_Qt_5_12_6_MinGW_32_bit-Debug/ui_instrucciones.h
Game/build-SpartanGame-Desktop_Qt_5_12_6_MinGW_32_bit-Debug/ui_mainwindow.h
Game/build-SpartanGame-Desktop_Qt_5_12_6_MinGW_32_bit-Debug/ui_mregistro.h
Game/build-SpartanGame-Desktop_Qt_5_12_6_MinGW_32_bit-Debug/ui_multiplayer.h
Game/build-SpartanGame-Desktop_Qt_5_12_6_MinGW_32_bit-Debug/ui_scargar.h
Game/build-SpartanGame-Desktop_Qt_5_12_6_MinGW_32_bit-Debug/ui_solitario.h
Game/build-SpartanGame-Desktop_Qt_5_12_6_MinGW_32_bit-Debug/ui_sregistro.h
Game/build-SpartanGame-Desktop_Qt_5_12_6_MinGW_32_bit-Debug/usersuserappdatalocaltemptmpeo_gz_
Game/build-SpartanGame-Desktop_Qt_5_12_6_MinGW_32_bit-Debug/debug/qrc_music.tmp.o
Game/build-SpartanGame-Desktop_Qt_5_12_6_MinGW_32_bit-Debug/debug/qrc_pics.tmp.o
